@charset "UTF-8";

/* INICIO RESET GLOBAL */

/* Paleta de colores */
:root {
  --Transparent: #ffffff00;
  --Black: #000000;
  --Black2: #333333;
  --Black3: #666666;
  --Black4: #adadad;
  --Black5: #e0e0e0;
  --White: #ffffff;
  --White2: #d3d3d3;
  --White3: #dedede;
  --White4: #e9e9e9;
  --White5: #f7f7f7;
  --Orange: #f36e26;
  --Orange2: #f58b51;
  --Orange3: #f8a87d;
  --Orange4: #fac5a8;
  --Orange5: #fde2d4;
  --Green: #32e875;
  --Green2: #5bed91;
  --Green3: #84f1ac;
  --Green4: #adf6c8;
  --Green5: #d6fae3;
  --Blue: #2374ab;
  --Blue2: #3595d6;
  --Blue3: #68afe0;
  --Blue4: #9acaea;
  --Blue5: #cde4f5;
  --Metallic: #2d3142;
  --Metallic2: #4d5471;
  --Metallic3: #71799e;
  --Metallic4: #a0a6be;
  --Metallic5: #d0d2df;
  --Button-orange: linear-gradient(90deg, var(--Orange) 0%, var(--Orange3) 100%);
  --Button-orange-MO: linear-gradient(90deg, var(--Orange) 0%, var(--Orange5) 100%);
  --Button-green: linear-gradient(90deg, var(--Green) 0%, var(--Green3) 100%);
  --Button-green-MO: linear-gradient(90deg, var(--Green) 0%, var(--Green5) 100%);
  --Button-blue: linear-gradient(90deg, var(--Blue) 0%, var(--Blue3) 100%);
  --Button-blue-MO: linear-gradient(90deg, var(--Blue) 0%, var(--Blue5) 100%);
}
/* Fin de Paleta de colores*/

/* Barra de scroll personalizada */
::-webkit-scrollbar {
  width: 0.5625rem;
}
::-webkit-scrollbar-track {
  background: linear-gradient(90deg, var(--Black5) 0%, var(--Black4) 50%, var(--Black5) 100%);
}
::-webkit-scrollbar-thumb {
  background: linear-gradient(90deg, var(--Orange) 0%, var(--Orange3) 50%, var(--Orange) 100%);
  border-radius: 1rem;
}
/* Fin de Barra de scroll personalizada*/

/* Selector universal */
* {
  margin: 0;
  padding: 0;
  border: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  vertical-align: baseline;
}
/* Fin */

/* Evitamos problemas con las imagenes */
img,
picture,
video,
iframe,
figure {
  max-width: 100%;
  width: 100%;
  display: block;
}
/* Fin */

/* Reseteamos los enlaces para funcionar como cajas... */
a {
  display: block;
  text-decoration: none;
  color: inherit;
  font-size: inherit;
}
/* Fin */

/* ... excepto los que se encuentran en párrafos */
p a {
  display: inline;
}
/* Fin */

/* Quitamos los puntos de los <li> */
li {
  list-style-type: none;
}
/* Fin */

/* Configuramos anclas suaves */
html {
  scroll-behavior: smooth;
}
/* Fin */

/* Desactivamos estilos por defecto de las principales etiquetas de texto */
h1,
h2,
h3,
h4,
h5,
h6,
p,
span,
a,
strong,
blockquote,
i,
b,
u,
em {
  font-size: 1em;
  font-weight: inherit;
  font-style: inherit;
  text-decoration: none;
  color: inherit;
}
/* Fin */

/* Evitamos problemas con los pseudoelementos de quotes */
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
/* Fin */

/* Configuramos el texto que seleccionamos */
::-moz-selection {
  background-color: var(--Orange);
  color: var(--White);
}
::selection {
  background-color: var(--Orange);
  color: var(--White);
}
/* Fin */

/* Nivelamos problemas de tipografías y colocación de formularios */
form,
input,
textarea,
select,
button,
label {
  font-family: inherit;
  font-size: inherit;
  -webkit-hyphens: auto;
  -ms-hyphens: auto;
  hyphens: auto;
  background-color: transparent;
  color: inherit;
  display: block;
  /* opcional */
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}
/* Fin */

/* Reseteamos las tablas */
table,
tr,
td {
  border-collapse: collapse;
  border-spacing: 0;
}
/* Fin */

/* Evitamos problemas con los SVG */
svg {
  width: 100%;
  display: block;
  fill: var(--Texts);
}
/* Fin */

/* Configuramos la tipografía para toda la web */
body {
  min-height: 100vh;
  font-size: 100%;
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  background-color: var(--White5);
  color: var(--Black2);
}
/* Fin */

/* FIN RESET GLOBAL */

.Wrapper1 {
  width: 70%;
}
.Wrapper2 {
  width: 90%;
}

/* INICIO DEL HEADER */
.Header {
  width: 100%;
  display: flex;
  flex-flow: column;
  justify-content: flex-start;
  align-items: center;

  position: fixed;
  top: 0%;
  left: 0%;

  z-index: 1;
}
/* Inicio del Header Top */
.Header-top {
  width: 100%;
  padding: 1.125rem 0;
  background-color: var(--Metallic);
}
.Header-top-wrapper {
  margin: auto;

  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;
}
.Header-phone {
  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-start;
  align-items: center;
  white-space: nowrap;

  gap: 0.5rem;
}
.Header-svg {
  width: 1.5rem;
  height: 1.5rem;
  fill: var(--White);
}
.Header-span {
  color: var(--White);
  font-size: 0.875rem;
  font-weight: 400;
}
.Header-email {
  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-start;
  align-items: center;

  gap: 0.5rem;
}
.Rrss {
  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-start;
  align-items: center;

  gap: 1rem;
}
.Rrss-li {
}
.Rrss-a {
}
.Rrss-svg {
  width: 1.5rem;
  height: 1.5rem;
  fill: var(--White);
}
.Rrss-svg:hover {
  filter: drop-shadow(0rem 0rem 0.5rem var(--Orange));
}
.Rrss-svg:active {
  fill: var(--Orange);
  transition: all 0.5s ease;
  transform: scale(1.05);
}
/* Fin del Header Top */

/* Inicio del Header Bottom */
.Header-bottom {
  width: 100%;
  padding: 2rem 0;
  background-color: var(--White5);
  box-shadow: 0rem 0.25rem 0.5rem rgba(0, 0, 0, 0.25);
}
.Header-bottom-wrapper {
  margin: auto;

  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;
}
.Header-grp {
  width: 100%;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;
}
.Header-responsive {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;
}
.Header-logo {
}
.Header-img {
  min-width: 9.375rem;
  max-width: 9.375rem;
}
.Header-btn {
  display: none;
}
.Header-btn-svg {
  width: 2rem;
  height: 2rem;
  fill: var(--Black2);
}
.Header-nav {
  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-end;
  align-items: center;

  gap: 1.875rem;
}
.Header-ul {
}
.Navmenu {
  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-end;
  align-items: center;

  gap: 1.875rem;
}
.Navmenu-li {
  font-size: 1.1875rem;
  font-weight: 600;
  color: var(--Black2);
  white-space: nowrap;
}
.Navmenu-li::after {
  content: "";
  width: 0%;
  height: 0.125rem;
  background: var(--Orange);
  display: block;
  transition: all 0.3s ease;
}
.Navmenu-li:hover::after {
  width: 100%;
}
.Navmenu-li:active {
  transition: all 0.5s ease;
  transform: scale(1.05);
}
.Navmenu-a {
}
.Kitdigital-a {
}
.Kitdigital-img {
  min-width: 6.25rem;
  max-width: 6.25rem;
}
.Navmenu-img {
}
.Iniciar-erp-btn {
  padding: 1rem 2rem;
  border-radius: 2rem;
  border: 0.0625rem solid var(--Black2);
  background: linear-gradient(0deg, var(--Blue) 0%, var(--Blue3) 100%);

  font-size: 1.125rem;
  font-weight: 700;
  color: var(--White);

  cursor: pointer;

  white-space: nowrap;
}
.Iniciar-erp-btn:hover {
  background: linear-gradient(0deg, var(--Blue) 0%, var(--Blue5) 100%);
}
.Iniciar-erp-btn:active {
  background: var(--Transparent);
  color: var(--Black2);
}
/* Fin del Header Bottom */

/* FIN DEL HEADER */

/* INICIO DEL MAIN */
.Main {
  width: 100%;
  min-height: 500vh;
  padding-top: 15rem;

  overflow: hidden;
}
.Main-section {
  width: 100%;
  min-height: 50vh;
  padding: 0 0 4.6875rem 0;
}
.Main-wrapper {
  margin: auto;
}
.Main-div {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
}
@keyframes H1 {
  0% {
    opacity: 0;
    transform: translateY(-50vh);
  }
  100% {
    opacity: 1;
    transform: translateY(0vh);
  }
}
.Main-h1 {
  font-size: 3.75rem;
  font-weight: 700;

  animation: H1 1s ease;
}
.Main-container {
  width: 100%;
  margin-top: 3.125rem;

  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: flex-start;
}
.Main-column {
  width: 40%;
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-between;
  align-items: flex-start;

  gap: 3.125rem;
}
@keyframes up {
  0% {
    opacity: 0;
    transform: translateY(100vh);
  }
  100% {
    opacity: 1;
    transform: translateY(0vh);
  }
}
@keyframes up2 {
  0% {
    opacity: 0;
    transform: translateY(100vh);
  }
  100% {
    opacity: 1;
    transform: translateY(0vh);
  }
}
@keyframes up3 {
  0% {
    opacity: 0;
    transform: translateY(100vh);
  }
  100% {
    opacity: 1;
    transform: translateY(0vh);
  }
}
.Main-p {
  font-size: 1.25rem;
  font-weight: 400;

  animation: up2 1s ease;
}
.Properties {
  width: 80%;
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-start;
  align-items: center;
  white-space: nowrap;

  gap: 1rem;

  animation: up 1.15s ease;
}
.Properties-li {
  font-size: 1.25rem;
  font-weight: 600;
}
.Buttons {
  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-start;
  align-items: center;

  gap: 3.125rem;

  animation: up3 1.3s ease;
}
.Buttons-a {
  padding: 1rem 2rem;
  border-radius: 0.5rem;
  background: linear-gradient(0deg, var(--Orange) 0%, var(--Orange3) 100%);
  color: var(--White);
  border: 0.0625rem solid var(--Black2);

  font-size: 1.125rem;
  font-weight: 700;

  white-space: nowrap;
}
.Buttons-a:hover {
  background: linear-gradient(0deg, var(--Orange) 0%, var(--Orange5) 100%);
}
.Buttons-a:active {
  background: var(--Transparent);
  color: var(--Black2);
}
@keyframes Imagen {
  0% {
    opacity: 0;
    transform: translateX(100vh);
  }
  100% {
    opacity: 1;
    transform: translateX(0vh);
  }
}
.Main-img {
  width: 45%;
  height: 45%;
  margin-right: -5vw;
  margin-top: -5%;

  animation: Imagen 1s ease;
}
.Video-section {
  width: 100%;
  padding: 4.6875rem 0;
  background-color: var(--Metallic2);

  min-height: 70vh;
}
.Video-wrapper {
  margin: auto;
}
.Video-div {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;

  text-align: center;

  gap: 3.125rem;
}
.Video-h2 {
  font-size: 3.125rem;
  font-weight: 700;
  color: var(--White);
}
.Video-video {
  width: 50%;
  height: 50%;
}
.Video-p {
  width: 70%;
  font-size: 1.25rem;
  color: var(--White);
}
.Video-p strong {
  font-weight: 600;
}

.Sectores-section {
  width: 100%;
  padding: 4.6875rem 0;

  min-height: 70vh;
}
.Sectores-wrapper {
  margin: auto;
}
.Sectores-h2 {
  font-size: 3.125rem;
  font-weight: 700;
  text-align: center;
}
.Grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(15rem, 1fr));

  padding-top: 3.125rem;

  grid-gap: 3rem;
}
.Grid-a {
  width: 50%;
}
.Grid-article {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;

  gap: 0.625rem;
}
.Grid-img {
}
.Grid-h3 {
  font-size: 1.5rem;
  font-weight: 700;
  white-space: nowrap;
}

.Ventajas-section {
  width: 100%;
  padding: 4.6875rem 0;
  background-color: var(--Metallic2);

  min-height: 60vh;
}
.Ventajas-wrapper {
  margin: auto;
}
.Ventajas-div {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;

  gap: 3.125rem;

  text-align: center;
}
.Ventajas-h3 {
  font-size: 2.5625rem;
  font-weight: 700;
  color: var(--White);
}
.Ventajas-p {
  font-size: 1.25rem;
  color: var(--White);
}
.Ventajas-p strong {
  font-weight: 600;
}
.Flex {
  width: 75%;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-evenly;
  align-items: center;

  gap: 3.125rem;
}
.Flex-div1 {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: flex-start;
}
.Flex-div2 {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: flex-start;
}

.Flex-span {
  font-size: 1.25rem;
  font-weight: 600;
  color: var(--White);

  white-space: nowrap;
}

.Demo-div {
  width: 100%;
  height: 100%;
}
.Demo-img {
}
.Integraciones-section {
  width: 100%;
  padding: 4.6875rem 0;

  min-height: 60vh;
}
.Integraciones-wrapper {
  margin: auto;
}
.Integraciones-h3 {
  font-size: 2.5625rem;
  font-weight: 700;

  text-align: center;
}
.Container {
  padding: 3.125rem 0;
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-between;
  align-items: center;

  gap: 3rem;
}
.Container-flex {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;
}
.Container-img {
  width: 45%;
  height: 45%;

  margin-left: -5vw;
}
.Container-column {
  width: 50%;

  display: flex;
  flex-flow: column nowrap;
  justify-content: space-between;
  align-items: flex-start;

  gap: 1rem;
}
.Container-p {
  font-size: 1.25rem;
  color: var(--Black2);
}
.Container-p strong {
  font-weight: 600;
}
.Integraciones {
  width: 100%;
  padding: 4.6875rem 0 1.5625rem 0;

  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(15rem, 1fr));

  grid-gap: 3rem;
}
.Integraciones-article {
  width: 100%;
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-between;
  align-items: center;

  gap: 0.625rem;
}
.Integraciones-img {
  width: 50%;
  height: fit-content;
}
.Integraciones-h4 {
  font-size: 1.125rem;
  font-weight: 700;
  text-align: center;
}

.Clientes-section {
  width: 100%;
  min-height: 50vh;
  padding: 4.6875rem 0;
  background-color: var(--Metallic2);
}
.Clientes-wrapper {
  margin: auto;
}
.Clientes-h3 {
  font-size: 2.5625rem;
  font-weight: 700;
  text-align: center;
  color: var(--White);
}
.Clientes-ul {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(10rem, 1fr));
  justify-items: center;
  align-items: center;
  grid-gap: 2rem;

  padding-top: 4.6875rem;
}
.Clientes-li {
}
.Clientes-a {
  margin: auto;
  width: 50%;
  height: 50%;
}
.Clientes-img {
  width: fit-content;
  height: fit-content;
  filter: saturate(0%);
  transform: scale(1);
  transition: all ease 0.3s;
}
.Clientes-img:hover {
  filter: saturate(100%);
  transform: scale(2);
}

.Reviews-section {
  width: 100%;
  min-height: 70vh;
  padding: 4.6875rem 0;
}
.Reviews-wrapper {
  margin: auto;
}
.Reviews-h3 {
  font-size: 2.5625rem;
  font-weight: 700;
  text-align: center;
}
.Reviews-div {
  padding-top: 5rem;
}
.Reviews-container {
  position: relative;
  padding-bottom: 28.125%;
}
.Reviews-slider {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  width: 50%;
  height: 100%;

  margin: auto;
  outline: 0.25rem solid var(--Orange);
  border-radius: 0.25rem;
}
.Reviews-ul {
  width: 100%;
  padding: 3rem 0;

  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(15rem, 1fr));

  grid-gap: 3rem;
}
.Reviews-li {
  width: 100%;
  height: fit-content;
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-between;
  align-items: center;

  text-align: center;

  gap: 1.25rem;
}
.Reviews-img {
  width: 100%;
  height: 100%;

  border-radius: 0.25rem;

  cursor: pointer;

  transform: scale(1);
  transition: transform ease 0.3s;
}
.Reviews-img:hover {
  transform: scale(1.1);
  box-shadow: 0rem 0rem 1rem rgba(0, 0, 0, 0.25);
  border-radius: 0.25rem;
}
.Reviews-img.isActive {
  outline: 0.125rem solid var(--Orange);
  border-radius: 0.25rem;
}
.Reviews-a {
  pointer-events: none;
  font-size: 0.875rem;
  font-weight: 600;
  color: var(--Black2);
}

.Quote-section {
  width: 100%;
  min-height: 30vh;
  padding: 4.6875rem 0;
  background-color: var(--Metallic2);
}
.Quote-wrapper {
  margin: auto;
}
.Quote-column {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;

  gap: 3.125rem;
  padding: 3rem 0;
  border: 0.4375rem double var(--Orange);
}
.Quote-h5::before {
  content: "\201C";
  font-size: 10rem;

  position: relative;
  left: -3vw;
  bottom: -3vh;
}

.Quote-h5 {
  width: 90%;
  font-size: 1.5625rem;
  font-weight: 600;
  font-style: italic;
  text-align: center;
  line-height: 150%;
  color: var(--White);
}
.Quote-cite {
  width: 90%;
  font-size: 1.25rem;
  color: var(--White);
  text-align: center;
}

.Demo2-div {
  width: 100%;
  height: 100%;
}
.Demo2-img {
}
.CTA-section {
  width: 100%;
  min-height: 30vh;
  padding: 4.6875rem 0 9.375rem 0;
}
.CTA-wrapper {
  margin: auto;
}
.CTA-div {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;

  gap: 3.125rem;
}
.CTA-h3 {
  font-size: 2.5625rem;
  font-weight: 700;
  text-align: center;
}
.CTA-a {
  padding: 1rem 2rem;
  border-radius: 0.5rem;
  background: linear-gradient(0deg, var(--Orange) 0%, var(--Orange3) 100%);
  color: var(--White);
  border: 0.0625rem solid var(--Black2);

  font-size: 1.125rem;
  font-weight: 700;

  white-space: nowrap;
}
.CTA-a:hover {
  background: linear-gradient(0deg, var(--Orange) 0%, var(--Orange5) 100%);
}
.CTA-a:active {
  background: var(--Transparent);
  color: var(--Black2);
}

.Footer {
  width: 100%;
  min-height: 50vh;
  padding: 4.6875rem 0 0 0;

  background-color: var(--Metallic);
}
.Footer-wrapper {
  margin: auto;
}
.Footer-all {
  width: 100%;

  display: flex;
  flex-flow: column nowrap;
  justify-content: space-between;
  align-items: center;

  gap: 12rem;
}
.Footer-div {
  width: 100%;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: flex-start;

  gap: 3rem;
}
.Footer-info,
.Footer-contacto,
.Footer-legal {
  display: flex;
  flex-flow: column nowrap;
  justify-content: flex-start;
  align-items: flex-start;

  gap: 0.625rem;
}
.Footer-h5 {
  font-size: 1.5rem;
  font-weight: 700;
  color: var(--White);
}
.Footer-ul {
  display: flex;
  flex-flow: column nowrap;
  justify-content: flex-start;
  align-items: flex-start;

  gap: 0.625rem;
}
.Footer-li {
}
.Footer-a {
  font-size: 1rem;
  color: var(--White);
}
.Footer-phone {
  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-start;
  align-items: center;

  gap: 0.625rem;
}
.Footer-svg {
  width: 1.5rem;
  height: 1.5rem;
  fill: var(--White);
}
.Footer-span {
  font-size: 1rem;
  color: var(--White);
  text-align: center;
}
.Footer-email {
  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-start;
  align-items: center;

  gap: 0.625rem;
}
.Footer-rrss {
}
.Footer-logo {
}
.Footer-img {
  min-width: 9.375rem;
  max-width: 9.375rem;
}

/* MEDIA QUERIES */

@media screen and (max-width: 64rem) {
  .Header-bottom {
    padding: 2.75rem 0;
  }
  .Header-bottom-wrapper {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
  }
  .Header-nav {
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;

    gap: 2rem;
  }
  .Navmenu {
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;

    gap: 2rem;
  }
  .Header-btn {
    display: block;
  }
  .Header-responsive {
    width: 100%;
    height: 0;
    margin: 0;
    padding: 0;

    overflow: hidden;

    background: var(--White4);
    border: 0.125rem solid var(--Black2);
    border-radius: 1rem;

    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
    gap: 3rem;

    opacity: 0;
    transition: all 0.5s ease;
  }
  .Header-responsive.isActive {
    height: fit-content;
    margin: 1rem 0;
    padding: 3rem 0;
    opacity: 1;
  }
  .Grid {
    grid-template-columns: repeat(auto-fit, minmax(10rem, 1fr));
  }
  .Integraciones {
    grid-template-columns: repeat(auto-fit, minmax(10rem, 1fr));
  }

  .Reviews-container {
    position: relative;
    padding-bottom: 56.25%;
  }
  .Reviews-slider {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    width: 100%;
    height: 100%;

    margin: auto;
    outline: 0.25rem solid var(--Orange);
    border-radius: 0.25rem;
  }
}
@media screen and (max-width: 48rem) {
  /* Inicio de Tipografía */
  .Main-h1 {
    font-size: 3.375rem;
  }
  .Video-h2,
  .Sectores-h2 {
    font-size: 2.8125rem;
  }
  .Grid-h3 {
    font-size: 1.375rem;
  }
  .Ventajas-h3,
  .Integraciones-h3,
  .Clientes-h3,
  .Reviews-h3,
  .CTA-h3 {
    font-size: 2rem;
  }
  .Integraciones-h4 {
    font-size: 1rem;
  }
  .Navmenu-li {
    font-size: 1.0625rem;
    font-weight: 600;
  }
  .Buttons-a {
    font-size: 1rem;
  }
  .Main-p,
  .Properties-li,
  .Video-p,
  .Ventajas-p,
  .Container-p,
  .Quote-p {
    font-size: 1.125rem;
  }
  .Footer-h5 {
    font-size: 1.375rem;
    font-weight: 700;
  }
  .Header-span {
    font-size: 0.75rem;
  }
  .Footer-span,
  .Footer-a {
    font-size: 0.875rem;
  }
  .Flex-span {
    font-size: 1.125rem;
  }
  /* Fin de Tipografía */

  .Header-top-wrapper {
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
  }
  .Main-section {
    padding: 4.6875rem 0 4.6875rem 0;
  }
  .Main-container {
    width: 100%;
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-between;
    align-items: center;
  }
  .Main-column {
    width: 100%;
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-between;
    align-items: flex-start;

    gap: 3.125rem;
    padding-bottom: 8rem;
  }
  .Main-img {
    width: 100%;
    height: 100%;
    margin-right: -10vw;
  }
  .Video-video {
    width: 100%;
    height: 100%;
  }
  .Video-p {
    width: 100%;
  }
  .Container-flex {
    display: flex;
    flex-flow: column-reverse nowrap;
    justify-content: space-between;
    align-items: center;
  }
  .Container-column {
    width: 100%;

    display: flex;
    flex-flow: column nowrap;
    justify-content: space-between;
    align-items: flex-start;

    gap: 1rem;
    padding-bottom: 3rem;
  }
  .Container-img {
    width: 100%;
    height: 100%;

    margin-left: -10vw;
  }
  .Integraciones {
    grid-template-columns: repeat(auto-fit, minmax(8rem, 1fr));
  }
  .Reviews-ul {
    grid-template-columns: repeat(auto-fit, minmax(10rem, 1fr));
  }

  .Footer {
    padding: 4.6875rem 0 3.125rem 0;
  }
  .Footer-all {
    width: 100%;

    display: flex;
    flex-flow: column nowrap;
    justify-content: space-between;
    align-items: center;

    gap: 5rem;
  }
  .Footer-div {
    width: 100%;
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-between;
    align-items: center;

    gap: 3rem;
  }
  .Footer-info,
  .Footer-contacto,
  .Footer-legal {
    width: 100%;
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-between;
    align-items: center;

    gap: 1.875rem;
  }
  .Footer-ul {
    display: flex;
    flex-flow: column nowrap;
    justify-content: flex-start;
    align-items: center;

    gap: 1.875rem;
  }
  .Footer-info,
  .Footer-ul,
  .Footer-contacto,
  .Footer-legal {
    gap: 0.625rem;
  }
}
@media screen and (max-width: 36rem) {
  /* Inicio de Tipografía */
  .Main-h1 {
    text-align: center;
    font-size: 3rem;
  }
  .Video-h2,
  .Sectores-h2 {
    font-size: 1.75rem;
  }
  .Grid-h3 {
    font: 1.25rem;
  }
  .Ventajas-h3,
  .Integraciones-h3,
  .Clientes-h3,
  .Reviews-h3,
  .CTA-h3 {
    font-size: 1.125rem;
  }
  .Integraciones-h4 {
    font-size: 1rem;
  }
  .Buttons-a {
    font-size: 0.875rem;
  }
  .Properties-li,
  .Video-p,
  .Ventajas-p,
  .Container-p,
  .Quote-p {
    font-size: 1rem;
  }
  .Footer-span,
  .Footer-a {
    font-size: 0.75rem;
  }
  .Flex-span {
    font-size: 0.9375rem;
  }

  .Main-p {
    font-size: 1rem;
    text-align: center;
  }
  /* Fin de Tipografía */
  .Properties {
    width: 100%;
    text-align: center;
  }
  .Buttons {
    width: 100%;
    display: flex;
    flex-flow: column nowrap;
    justify-content: flex-start;
    align-items: center;

    gap: 3.125rem;
  }
  .Properties {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
  }
}
@media screen and (max-width: 30rem) {
  /* Inicio de Tipografía */
  .Main-h1 {
    text-align: center;
    font-size: 2rem;
  }
  .Video-h2,
  .Sectores-h2 {
    font-size: 1.625rem;
  }
  .Grid-h3 {
    font: 1.125rem;
  }
  .Ventajas-h3,
  .Integraciones-h3,
  .Clientes-h3,
  .Reviews-h3,
  .CTA-h3 {
    font-size: 1.25rem;
  }
  .Integraciones-h4 {
    font-size: 0.875rem;
  }
  .Reviews-ul {
    grid-template-columns: repeat(auto-fit, minmax(5rem, 1fr));
  }
  .Navmenu-li,
  .Properties-li,
  .Video-p,
  .Ventajas-p,
  .Container-p,
  .Quote-p {
    font-size: 0.875rem;
  }
  .Footer-span,
  .Footer-a {
    font-size: 0.75rem;
  }
  .Flex-span {
    font-size: 0.9375rem;
  }

  .Main-p {
    font-size: 0.875rem;
    text-align: center;
  }
  /* Fin de Tipografía */

  .Integraciones {
    grid-template-columns: repeat(auto-fit, minmax(10rem, 1fr));
  }
  .Main-column {
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-between;
    align-items: center;
  }
}
